APP_ENV =
APP_NAME = 
API_URL =

DATABASE_HOST =
DATABASE_PORT =
DATABASE_USER =
DATABASE_PASSWORD =
DATABASE_NAME =

# JWT
JWT_USER_SECRET_KEY =
JWT_ADMIN_SECRET_KEY =

JWT_USER_EXPIRE_TIME =
JWT_ADMIN_EXPIRE_TIME =